<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" placeholder="Enter appointment title" required>
    <mat-error *ngIf="appointmentForm.controls['title'].invalid && (appointmentForm.controls['title'].dirty || appointmentForm.controls['title'].touched)">
      Title is required
    </mat-error>
  </mat-form-field>
<br>
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="appointmentForm.controls['date'].invalid && (appointmentForm.controls['date'].dirty || appointmentForm.controls['date'].touched)">
      Date is required
    </mat-error>
  </mat-form-field>
<br>
  <button mat-raised-button color="primary" type="submit" [disabled]="appointmentForm.invalid">Add Appointment</button>
  <br>
  <br>
</form>
