<div class="calendar">
  <app-appointment-form (addAppointment)="addAppointment($event)"></app-appointment-form>
  <div class="calendar-appointments" cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let appointment of appointments; let i = index" class="calendar-appointment" cdkDrag>
      <div>{{ appointment.title }}</div>
      <div>{{ appointment.date | date }}</div>
      <div class="delete-icon" (click)="deleteAppointment(appointment)">
        <mat-icon aria-label="Delete appointment">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
